

//? Devices breakpoints

$sm : 575px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
$xxl: 1400px;

// Devices breakpoints FIN -------------------------------


// ? Colores
$warn : #FF6924;
$primary: #FFAC30;
$darkGray: #212529;




// Colores FIN ----------------------


