<div class="hero">

  <video autoplay [muted]="true" [playsInline]="true"  loop >
    <source src="../assets/video/hero.webm" type="video/webm">
    <source src="../assets/video/hero.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="hero-content">

    <h2>Nicolás Giovanni Gómez Moreno</h2>
    <h1>Desarrollador Web y Diseñador UI/UX</h1>
    <h3>Ingeniero de Artes Digitales</h3>


  </div>

</div>

<section class="about-skills mt-5 mw-1200 mx-auto d-flex">

  <div class="rounded-3 about-me">
    <h2 class="mb-3 text-primary">Sobre Mí</h2>
    <p>Me llamo Nicolás Gómez, soy un desarrollador Front-end y Diseñador UI/UX con más de 2 años de experiencia en la industria. </p>

    <p>Mi experiencia en diseño UI/UX me ha permitido trabajar en proyectos emocionantes y desafiantes para empresas de diferentes tamaños y en diferentes sectores. Entiendo la importancia de la experiencia del usuario y cómo cada detalle cuenta para lograr una interfaz atractiva y fácil de usar. Mi objetivo es diseñar interfaces que combinen una excelente estética con una usabilidad intuitiva.</p>

    <p>Como desarrollador frontend, tengo habilidades en lenguajes de programación como HTML, CSS y JavaScript, y en el uso de Angular. </p>

    <p>Por otro lado he tenido la oportunidad de construir sitios web y tiendas virtuales con Wordpress</p>

    <p>En mi carrera, he tenido la oportunidad de trabajar con equipos multidisciplinarios de expertos en diseño, marketing y desarrollo de software. He aprendido a trabajar en equipo y a comunicarme efectivamente con los demás para alcanzar los objetivos del proyecto.</p>

  </div>

  <div class="skills rounded-3">
    <h3 class="mb-3 text-primary">Habilidades</h3>
    <h4 class="mb-3">Diseño</h4>
    <ul class="mb-4">
      <li>
        <img src="../assets/img/figma.svg" alt="Figma Icon">
        <p>Figma</p>
      </li>

      <li>
        <img src="../assets/img/adobexd.svg" alt="Adobe XD">
        <p>Adobe XD</p>
      </li>

      <li>
      <img src="../assets/img/illustrator.svg" alt="Adobe Illustrator">
      <p>Ilustrator</p>
      </li>

      <li>
        <img src="../assets/img/photoshop.svg" alt="Photoshop">
        <p>Photoshop</p>
      </li>

    </ul>

    <h4 class="mb-3">Desarrollo</h4>

    <ul>

      <li>
        <img src="../assets/img/html.svg" alt="HTML">
        <p>HTML</p>
      </li>

      <li>
        <img src="../assets/img/css.svg" alt="CSS">
        <p>CSS</p>
      </li>

      <li>
        <img src="../assets/img/scss.svg" alt="SCSS">
        <p>SCSS</p>
      </li>

      <li>
        <img src="../assets/img/js.svg" alt="Javascript">
        <p>Javascript</p>
      </li>

      <li>
        <img src="../assets/img/angular.svg" alt="Angular">
        <p>Angular</p>
      </li>

      <li>
        <img src="../assets/img/git.svg" alt="Git">
        <p>Git</p>
      </li>

      <li>
        <img src="../assets/img/wordpress.svg" alt="Wordpress">
        <p>Wordpress</p>
      </li>

      <li>
        <img src="../assets/img/woocommerce.svg" alt="Woocommerce">
        <p>Woocommerce</p>
      </li>
    </ul>
  </div>
  
</section>

<section class="portfolio mt-4 mw-1200 mx-auto">
  <div class="portfolio-content rounded-3">
    <h3 class="text-primary text-center mb-4">Portafolio</h3>

    <div class="card-container">

      <div class="card px-2 mb-3">
        <div class="row align-items-center g-0">
          <div class="img-container">
            <img src="../assets/img/educacionyhabitos.jpg" class="img-fluid" alt="...">
          </div>
          
          <div class="col">
            <div class="card-body">
              <div class="title-container">
                <h5 class="card-title">Educación y Hábitos</h5><span class="text-primary">Página Web y Blog</span> 
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Finalizada en Diciembre de 2022</small></p>
              <button class="btn btn-outline-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card px-2 mb-3">
        <div class="row align-items-center g-0">
          <div class="img-container">
            <img src="../assets/img/seletiene.jpg" class="img-fluid" alt="...">
          </div>
          
          <div class="col">
            <div class="card-body">
              <div class="title-container">
                <h5 class="card-title">Seletiene Shop</h5><span class="text-primary">Tienda Virtual Dropshipping</span> 
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Finalizada en Diciembre de 2022</small></p>
              <button class="btn btn-outline-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card px-2 mb-3">
        <div class="row align-items-center g-0">
          <div class="img-container">
            <img src="../assets/img/laljoyeria.jpg" class="img-fluid" alt="...">
          </div>
          
          <div class="col">
            <div class="card-body">
              <div class="title-container">
                <h5 class="card-title">Lal Joyería</h5><span class="text-primary">Tienda Virtual y Blog</span> 
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Finalizada en Diciembre de 2022</small></p>
              <button class="btn btn-outline-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>


      <div class="card px-2 mb-3">
        <div class="row align-items-center g-0">
          <div class="img-container">
            <img src="../assets/img/slt.jpg" class="img-fluid" alt="...">
          </div>
          
          <div class="col">
            <div class="card-body">
              <div class="title-container">
                <h5 class="card-title">Smart Law Tech</h5><span class="text-primary">Página Web Dinámica</span> 
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Finalizada en Diciembre de 2022</small></p>
              <button class="btn btn-outline-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    <h3 class="text-primary text-center my-4">Proyectos Personales</h3>
  
    <div class="card-container">

      <div class="card px-2 mb-3">
        <div class="row align-items-center g-0">
          <div class="img-container">
            <img src="../assets/img/educacionyhabitos.jpg" class="img-fluid" alt="...">
          </div>
          
          <div class="col">
            <div class="card-body">
              <div class="title-container">
                <h5 class="card-title">Portafolio Estudiante</h5><span class="text-primary">Página Web</span> 
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Finalizada en Diciembre de 2022</small></p>
              <button class="btn btn-outline-primary">Ver más</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card px-2 mb-3">
        <div class="row align-items-center g-0">
          <div class="img-container">
            <img src="../assets/img/seletiene.jpg" class="img-fluid" alt="...">
          </div>
          
          <div class="col">
            <div class="card-body">
              <div class="title-container">
                <h5 class="card-title">Web Cursos</h5><span class="text-primary">Página Web</span> 
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Finalizada en Diciembre de 2022</small></p>
              <button  class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#educyhabModal">Ver más</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <app-dynamic-popup [id]="educacionyhabitos.id"></app-dynamic-popup>

</section>