@use '/src/scss/utilities/variables' as *;
@use '/src/scss/utilities/mixins' as *;


.hero{

  max-width: 100vw;
  height: 88vh;
  max-height: 675px;

  @include min-w(1280){
    max-height: 696px;
  }
  @include min-w(1400){
    min-height: 88vh;
    // max-height: 100%;
  }

  video{
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100vh;
    max-height: 675px;
    object-fit: none;
    object-position: center;

    @include min-w(1280){
      object-fit: cover;
      // max-height: 696px;
    }
    @include min-w(1400){
      min-height: 740px;
      max-height: 100%;
    }
    
  }

  .hero-content{
    padding: 1.4rem;
    position: absolute;
    left: 0;
    top:30%;
    display: flex;
    flex-direction: column;
    max-width: 565px;
    text-align: right;
    z-index: -10;

    @include min-w(630){
      left: unset;
      right: 10%;
    }

    @include min-w(1400){
      left: unset;
      right: 15%;
    }



  }

  h1{
    color: $primary;
    font-size: 2.1rem;

    @include min-w(530){
      font-size: 2.5rem;
    }

    @include min-w(768){
      font-size: 2.9rem;
    }

  }
  h2{
    font-size: 1.1rem;

    
    @include min-w(530){
      font-size: 1.4rem;
    }

    @include min-w(768){
      font-size: 1.6rem;
    }
  }
  h3{
    font-size: 1rem;

    @include min-w(530){
      font-size: 1.2rem;
    }

    @include min-w(768){
      // font-size: 1.6rem;
    }
    
  }

}

.about-skills{

  flex-direction: column;

  @include min-w(992){
    flex-direction: row;
    column-gap: 1rem;
  }


  .about-me{
    background-color: #343a40;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 3rem 1.5rem;

    @include min-w(992){
      width: 65%;
      margin: 0 0 0 1rem;
    }
  }

  h2{
    @include title;
    font-size: 2.2rem;
  }
  

  .skills{
    background-color: #343a40;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 3rem 1.5rem;
    
    @include min-w(992){
      width: 35%;
      margin: 0 1rem 0 0;
    }

    h3{
      @include title;
      font-size: 2.2rem;
    }
    
    h4{
      @include subTitle;
      font-size: 1.2rem;
      font-weight: bold;

    }

    ul{
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;

      li{
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;

        @include min-w(380){
          width: 50%;
        }


        img{
          width: 40px;
          margin-right: 5px;
        }

        p{
          margin: 0;
        }
      }
  

    } 
    
    
  }

}

.portfolio{

  .portfolio-content{
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 3rem 1.5rem;
    background-color: #343a40;

    @include min-w(992){
        
      margin: 0 1rem 1rem 1rem

    }

    h3{
      @include title;
      font-size: 2.2rem;
    }

    .card-container{
      display: flex;
      flex-direction: column;
      align-items: center;

      @include min-w(992){
        
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

      }

    }

    

  }
}

.experience-education{
  
  display: flex;
  flex-direction: column;
  @include min-w(900){
    flex-direction: row;
    column-gap: 1rem;
  }

  .education{


    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 3rem 1.5rem;
    background-color: #343a40;

    @include min-w(900){
      width: 35%;
      margin: 0 0 0 1rem;
    }

    h3{
      @include title;
      font-size: 2.2rem;
    }

    #carouselEducation{

      .carousel-inner{
        min-height: 460px;
      }

      .carousel-indicators{
        bottom: -8%;

        button{
          background-color: #898989;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin: 0 3%;
        }

      }

    }

    .education-content{
      display: flex;
      flex-direction: column;

      .title{
        position: relative;
        @include title();
        color: white;
        font-size: 1.5rem;

        .cuadro{
          position: absolute;
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: $primary;
          top: 0.4rem;
          left: -1.3rem;
          border-radius: 6px 0 0 6px;
          box-shadow: 0 0 3px 0 $primary;        
        }

      }
      .subtitle{
        @include subTitle();
        color:$primary;
        font-size: 1rem;

      }
    }

  }

  .history{
    ul{
      padding: 0;
      position: relative;
      list-style: none;

      li{
        display: flex;
        flex-direction: column;
        
      }


    }
    .job{
      display: flex;
      align-items: center;
      
      .job-title{
        @include title;
        font-size: 1.5rem;
        padding: 5px 10px;
        color:white;
        
        .subtitle{
          display: block;
          @include subTitle();
          font-size: 1.1rem;
          color:$primary;

          @include min-w(992){
            display: inline-block;
          }

        }
      } 
      
      &.active{
        .job-title{
          color: $primary;

          
        }
      }
      

    }

    .job-description{
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
    }


    .line{
      position: absolute;
      left: 7px;
      top: 30px;
      width: 2px;
      height: 100%;
      background-color: $primary;
    }
  }

  .experience-content{
    background-color: #343a40;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 3rem 1.5rem;
    
    @include min-w(900){
      width: 65%;
      margin: 0 1rem 0 0;
    }
    h3{
      @include title();
      font-size: 2.2rem
    }

  }
  
}


.hobbies{

  h3{
    @include title;
    font-size: 2.2rem;
  }

  .hobbies-content{
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 3rem 1.5rem;
    background-color: #343a40;

    @include min-w(992){
        
      margin: 0 1rem 1rem 1rem

    }

    .description{
      width: 50%;
    }
    .carousel{
      width: 50%;
    }


  }


}