.badget-container{
  width: 100%;
  position: fixed;
  z-index: 1100;
  text-align: center;
  bottom: 5%;
  left: 0;

  
}

.floating-bagdet{
  background-color: #FFAC30; 
  padding: 12px 30px;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
}