@use '/src/scss/utilities/variables' as *;
@use '/src/scss/utilities/mixins' as *;

.card{
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  max-width: 625px;

  @include min-w(992){
    // width: 48%;
    max-width: 490px;
  }

  @include min-w(1100){
    
    max-width: 530px;
  }




  .card-body{
    display: flex;
    flex-direction: column;
    


    button{

      width: 100%;
      align-self: center;

      @include min-w(520){
        max-width: 70%;
      }


      @include min-w(992){
        max-width: fit-content;
        margin-top: 1rem;
      }


    }

  }

  .img-container{
    position: absolute;
    top: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include min-w(768){
    // position: inherit;

    }


    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

  }

  .title-container{
    display: flex;
    // column-gap: 15px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;


    span{
      font-size: 1.25rem;
      line-height: 1.2;
      font-style: italic;
    }
  }


}

.modal-dialog.custom-modal{

  

  @include max-w(576){
    width: 90%;
    max-width: 1695px;
  }


  .modal-header{

    .separator{
      display: none;
      @include min-w(592){
        display: inline;
      }
    }

    .complement{
      display: block;
      @include subTitle();
      color: $primary;

      @include min-w(592){
        display: inline;
      }

    }

  }

  .modal-body{
    // padding-top: 0;
    // padding-bottom: 0;
  }

  .summary{
    width: 100%;

    @include min-w(992){
      width: 66.6%;
    }

    .tools-list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 10px;
      padding: 0;
      list-style: none;

      li{
        width: 45%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        img{
          width: 20%;
          max-width: 28px;
        }

      }
    }

  }

  .media{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include min-w(992){
      width: 33.3%;
      border-left: 1px solid #495057;
    }

    img{
      
      max-width: 450px;
      width: 90%;

      @include min-w(992){
        margin-top: 2rem;
      }

    }

  }


}

