

<div class="card px-2 mb-3">
  <div class="row align-items-center g-0">
    <div class="img-container">
      <img src="{{card.imgDestacada}}" class="img-fluid" alt="...">
    </div>
    
    <div class="col">
      <div class="card-body">
        <div class="title-container">
          <h5 class="card-title">{{card.title}}</h5><span class="text-primary">{{card.subTitle}}</span> 
        </div>
        <p class="card-text summary-text" [innerHTML]="card.summary"></p>
        <p class="card-text"><small class="text-body-secondary">{{card.date}}</small></p>
        <button class="btn btn-outline-primary" data-bs-toggle="modal"
        [attr.data-bs-target]="'#'+idCreator('Modal')">Ver más</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="{{idCreator('Modal')}}" tabindex="-1" aria-labelledby="Acerca de" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3">{{card.title}}<span class="separator"> - </span><span class="fs-5 complement">{{card.subTitle}}</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">


        <div class="row">
          <div class="summary py-3">

            <h3 class="fs-5 text-primary">Objetivo</h3>

            <p [innerHTML]="card.objetivo"></p>

            <h3 class="fs-5 text-primary">Metodología Utilizada</h3>
            <p class="metodologia-content" *ngFor="let parrafo of card.metodologia" [innerHTML]="parrafo"></p>
            
            <h3 class="fs-5 text-primary">Tecnologias y herramientas utilizadas</h3>
            <ul class="tools-list mt-4">
              <li *ngFor="let item of card.tecnologias">
                <img class="me-2" src="{{item.imagen}}" alt=""><span>{{item.texto}}</span></li>

            </ul>
  
          </div>
  
          <div class="media py-3">
            <!-- <img src="{{card.poster}}" alt=""> -->

            <div id="{{idCreator('Carrousel')}}" class="carousel slide mb-3" data-bs-ride="carousel">
              
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of card.poster;let i = index" [ngClass]="{'active':i == 0}" >
                  <img src="{{item}}" class="d-block w-100" alt="...">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#'+idCreator('Carrousel')" data-bs-slide="prev">
                <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#'+idCreator('Carrousel')" data-bs-slide="next">
                <span aria-hidden="true"><i class="bi bi-caret-right-fill"></i></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>

            <p *ngIf="card.anotacion">
              <small>{{card.anotacion}}</small>
            </p>

            <a href="{{card.enlace}}" target="_blank" class="btn btn-outline-primary my-4"> Visitar sitio</a>

            

          </div>
        </div>

        

      </div>

      

    </div>
  </div>
</div> 
