<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Educación y Hábitos - <span>Página Web y Blog</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">


        <div class="row">
          <div class="summary py-3">

            <h2>Objetivo</h2>

            <p>Promocionar el lanzamiento del libro "Cómo generar hábitos y divertirse en el proceso" y tambíen dar a conocer diferentes servicios referentes a la Analitica de datos, consultorias de educación superior, cursos, diplomados y demás.
            </p>

            <h3>Metodología Utilizada</h3>
            <p>Se realiza el mockup teniendo en cuenta referentes del cliente y requerimientos. Luego de tener una estructura base clara se diseña un prototipo que permite simular la experiecnia que tendra el usuario navegando e interactuando en las diferentes secciones de la página.</p>
            <p>Teniendo el diseño aprobado se procede a configurar Wordpress y a maquetar las diferentes secciones ya establecidas anteriormente con ayuda de Elementor</p>
            
            <h3>Tecnologias y herramientas utilizadas</h3>
            <ul>
              <li>Wordpress</li>
              <li>Elementor</li>
              <li>Figma</li>
              <li>Adobe Photoshop</li>
              <li>Adobe Illustrator</li>
              <li>CSS</li>
            </ul>
  
          </div>
  
          <div class="media p-0">
            <img src="/assets/img/Logo.svg" alt="">
          </div>
        </div>

        


        <!-- <div class="row">

          <div class="col text-center">
            <img src="assets/img/Profile.png" alt="">
          </div>

        </div>

        <div class="row text-center ">
          <h5 class="card-name">Nicolás Giovanni Gómez Moreno</h5>
          <p class="profesion">Ingeniero en Artes Digitales</p>
        </div>

        <div class="section-card row justify-content-center mx-auto">
          <div class="col d-flex flex-column align-items-center justify-content-center border rounded p-3">
            <p class="contact-number mb-2">(+57) xxxx

            </p>
            <a href="https://wa.link/xnr6zs" 
            target="_blank"
            class="btn btn-success"><i class="bi bi-whatsapp me-1"></i>Whatsapp</a>



          </div>

        </div>

        <div class="section-card row justify-content-center mx-auto mt-3  ">
          <div class="col w-100 d-flex flex-column align-items-center justify-content-center border rounded p-3">
            <p class="contact-number mb-2">
              xxxx
              
            </p>
            <a href="mailto:xxx" class="btn btn-secondary text-light"><i class="bi bi-envelope me-1"></i> E-mail</a>
          
          </div>

          
        </div> -->

      </div>

      

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div> -->
    </div>
  </div>
</div>

